:root {
    --color-heading: rgb(39, 38, 38);
    --color-text: #444;
}

* {
    box-sizing: border-box;
}

html {
    /* 62.5% x 16px = 10px */
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}


/* Typography */
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Generic Class */
.display--flex {
    display: flex;
    align-items: center;
}

.flex--center {
    justify-content: center;
}

.flex--space-between {
    justify-content: space-between;
}

.container-area {
    max-width: 900px;
    margin: 0 auto;
    padding: 6rem 4rem;
}

.cart-area {
    max-width: 700px;
}

/* icons */
.icon-container {
    background-color: rgb(199, 199, 199);
    height: 5rem;
    width: 5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}

.icon-container:hover {
    cursor: pointer;
    background-color: rgb(159, 158, 158);
}

.icon--round {
    border-radius: 100%;
}

.icon--image {
    height: 3rem;
    width: 3rem;
}

.cart-size {
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #09bf64;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 0.3rem 0.4rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
}

/* navigation bar */
.nav-container {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
}

.brand>a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.brand__name {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}


/* counter button */
.counter {
    /* border: 1px solid; */
}

.counter__item {
    border: 1px solid rgb(191, 190, 190);
    font-weight: bold;
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 2px;
    color: var(--color-heading);
}

.counter__item-quantity {
    border: 0;
}

.counter__item:hover {
    border-color: rgb(115, 115, 115);
}


/* Button */
.btn {
    border: 0;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
}

.btn--checkout {
    background-color: #09bf64;
    color: #fff;
}

.btn--checkout:hover {
    background-color: #18a65f;
}

.btn--clearCart {
    background-color: #fa5b12;
    color: #fff;
    margin-left: 1rem;
}

.btn--clearCart:hover {
    background-color: #e54e09;
}


/* Card view */
.grid {
    display: grid;
    gap: 4rem 3rem;
}

.card-container {
    /* margin-top: 4rem; */
}

.card__header img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.card--vertical .card__body {
    text-align: center;
}

.card__body {
    padding: 0 2rem 1rem;
}

.card__title {
    text-transform: capitalize;
    color: var(--color-heading);
    font-size: 1.8rem;
}

.card__description {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--color-text);
}

.item-price {
    color: var(--color-heading);
    font-size: 1.6rem;
}

@media screen and (min-width : 1024px) {
    .grid--3x4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .grid--3x4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Horizotal card */
.cart-area.grid {
    gap: 1rem 3rem;
}

.card--horizontal {
    display: flex;
    position: relative;
}

.card--horizontal .card__header img {
    height: 15rem;
}

.card__close {
    position: absolute;
    width: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.card__close:hover {
    background-color: #ddd;
    border-radius: 100%;
}

.card--horizontal .card__title {
    text-align: left;
}

.title-bar {
    margin: 1rem 0;
    display: flex;
}

.price-tag {
    background: #444;
    color: #fff;
    border-radius: 4px;
    padding: 0.1rem 1rem;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.card--horizontal .counter {
    text-align: left;
    margin-top: 2rem;
}

.item__total-cost {
    margin-top: 2rem;
}


/* Total Bill */
.total-bill {
    margin-top: 4rem;
}

.total-bill__header {
    margin: 1rem 0;
    text-align: center;
}

.btn--cart {}