<section class="grid card-container container-area">
    <div class="card card--horizontal">
        <img src="./images/close.svg" alt="" srcset="" class="card__close">
        <div class="card__header">
            <img src="./images/img-6-small.jpg" alt="" srcset="">
        </div>
        <div class="card__body">
            <div class="title-bar">
                <h3 class="card__title">Sweat shirt</h3>
                <span class="price-tag">$45</span>
            </div>

            <section class="counter">
                <span class="counter__item counter__item-minus">-</span>
                <span class="counter__item counter__item-quantity">0</span>
                <span class="counter__item counter__item-plus">+</span>
            </section>
            <h4 class="item__total-cost">$1450</h4>
        </div>
    </div>
</section>