<section class="grid grid--3x4 card-container container-area">
    <div class="card card--vertical">
        <div class="card__header">
            <img src="./images/img-6.jpg" alt="" srcset="">
        </div>
        <div class="card__body">
            <h3 class="card__title">Sweat shirt</h3>
            <p class="card__description">Lorem ipsum dolor sit amet.</p>
            <div class="card__price-tag display--flex flex--space-between">
                <h4>$45</h4>
                <section class="counter">
                    <span class="counter__item counter__item-minus">-</span>
                    <span class="counter__item counter__item-quantity">0</span>
                    <span class="counter__item counter__item-plus">+</span>
                </section>
            </div>
        </div>
    </div>
</section>